table {
    border: 1px solid black;
    column-width: 200px;
}
table td {
    border-left: 1px solid black;
    width: 200px;
}
table tr {
    border-bottom: 1px solid black;
}

.display-4{
    background-color: blue;
}